<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客后台管理-博客园</title>
    <link rel="stylesheet" type="text/css" href="/static/main/css/bootstarp.css">

</head>
<body>
<div class="header">
    <div class="header_top">
        <div class="left_header">
            <a href="/">网站首页</a>
            <span>|</span>
            <a href="/{{ username }}">个人站点</a>
        </div>
        <div class="right_header">
            <a href="/">退出</a>
            <span>|</span>
            <a href="/">{{ username }}</a>
        </div>
    </div>
</div>
<div class="body_content">
    <div class="NavleftCell">
        <div class="classfiy">操作</div>
        <ul>
            <li><a href="">添加新文章</a></li>
        </ul>

        <div class="classfiy">分类</div>
        <ul>
            <li>编辑分类</li>
            <li>新建分类</li>

        </ul>
        <div class="classfiy">标签</div>
        <ul>
            <li>新建标签</li>
            <li>编辑标签</li>
        </ul>

    </div>
    <div class="body">
        <div id="main">
            {% csrf_token %}
            <div id="editor_Edit">
                <div class="CollapsibleTitle"><span>添加随笔</span></div>
                <div id="Editor_edit_Content">
                    <div id="edit_container">
                        <div class="edit_title">
                            <b>标题</b>
                            <br>
                            <input type="text" maxlength="200" id="edit_title" style="width: 97%">.
                        </div>
                        <div id="edit_body">
                            <div id="edit_body_tip">
                                <b>内容</b>KindEditor编辑器,不支持拖放/粘贴上传图片
                            </div>
                            <div class="edit_body_content">
                                <textarea name="edit_content"  cols="30" rows="10" id="article_content"></textarea>
                            </div>
                        </div>
                        <div >
                            <div>
                                <p style="font-size: 12px">Tag:标签</p>
                                <input type="text" style="width: 97%" id="tag"></div>
                        </div>
                         <div >
                            <div>
                                <p style="font-size: 12px">Category:文章分类</p>
                                <input type="text" style="width: 97%" id="category"></div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-default" value="发布" id="create_content">
                <input type="submit" class="btn btn-default" value="取消" id="cancel">
            </div>
        </div>

    </div>
</div>
</body>
<script src="/static/jquery-3.3.1.js"></script>
<script charset="utf-8" src="/static/kindeditor/kindeditor-all.js"></script>
<script src="/static/main/js/backend.js"></script>
<script>

</script>
</html>