<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客园</title>
    <link type="text/css" rel="stylesheet" href="../static/main/css/main.css">
</head>
<body>


{# --end:header:头部 #}
<div id="header">
        {# 博客标题和副标题   #}
    <hr style="background-color:  orangered;">
    <div id="navigator">
        <div class="navigator">
            <ul class="navlist">
                <li><a href="">首页</a></li>
                <li><a href="/{{ request.user }}">个人首页</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <a href="/login" id="login">登录</a>
            <a href="/register" id="register">注册</a>
            <a href="/logout/" class="remove" id="logout">注销</a>
            <a href="/{{ request.user }}" id="user_name">{{ name }}</a>
        </div>
    </div>
    {# 博客导航栏   #}
</div>
<div id="main">
    <div class="left-content">
        <div class="newItem">
            <h3 class="catListTitle">公告</h3>
            <div class="blog-news">
                <ul id="profile_block">
                </ul>
            </div>
        </div>
        <div class="newItem">
            <h3 class="catListTitle">随笔分类</h3>
            <ul>
                 {% for foo in category_obj %}
                     <li>
                        <a href="">{{ foo.title }}</a>
                     </li>
                 {% endfor %}
            </ul>

        </div>
        <div class="newItem">
            <h3 class="catListTitle">最新评论</h3>
        </div>

    </div>
    {#   左侧内容 #}
    <div class="right-content">

        {% for article in article_obj %}
            {% csrf_token %}
            <div class="article">
                <div class="dayTitle">
                    <span>{{ article.create_time|date:"Y年m月d日 " }}</span>
                </div>
                <div class="postTitle">{{ article.title }}</div>

                <div class="postTon">
                    <div class="desc_content">{{ article.desc }}
                    <a class="desc_a" href="{{ article.user__username }}">阅读全文</a></div>
                </div>
                <div class="clear"></div>
                <div class="postDesc">
                    posted @ {{ article.create_time|date:"Y-m-d H:i"}} {{ article.user__username }} 点赞({{ article.up_count }})
                    评论{{ article.comment_count }}
                    <a rel="nofollow" class="editor">编辑</a>
                </div>
            </div>
            <div class="clear"></div>
        {% endfor %}


    </div>
</div>
{# --end :main #}

</body>
<script src="/static/jquery-3.3.1.js"></script>
<script src="../static/main/js/main.js"></script>
</html>