<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
    <link href="../static/main/css/not_found.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="text-center">
        <a href=" http://127.0.0.1:8000/" class="bottem"><img src="../static/main/logo_small.gif"></a>
        <div style="font-size: 14px" class="bottem"><b>404.</b>抱歉！您访问的资源不存在</div>
        <div class="bottem">请确认您输入的网站是否正确</div>
        <div class="bottem"><a href=" http://127.0.0.1:8000/">返回网站首页</a></div>
    </div>
</div>
</body>
</html>