{% extends "base_main.html" %}

{% block con %}
    {% csrf_token %}
    <div class="article">
        <div id="nid" style="display: none">{{ article_obj.nid }}</div>
        <div class="topcis">
            <div class="dayTitle" style="margin: 0">
                <span>{{ article_obj.create_time|date:"Y年m月d日 " }}</span>
            </div>
            <div class="postTitle" style="margin: 0">{{ article_obj.title }}</div>
            <div class="clear"></div>
            <div class="tag">标签 :<span>{{ article_obj.tags__title }}</span></div>
            <div class="clear"></div>
            <div class="postBody">
                <div class="cnblogs_post_body">
                    {{ article_obj.content|safe }}
                </div>
            </div>
        </div>
        <div class="topcis" style="padding-top: 10px">
            <div class="middle">
                <div>分类:<span>{{ article_obj.category__title }}</span></div>
                <div class="blog_post_info">
                    <div id="author_profile">
                        <a>
                            <img src="/media/{{ article_obj.user__avatar }}" class="author_avatar">
                        </a>
                        <div id ="author_profile_detail" class="author_profile_info">
                            <span>{{ username }}</span>
                        </div>
                    </div>
                    <div id="dic_digg">
                        <div class="digght acction" style="float: left;padding-bottom: 2px">
                            <span class="diggum" id="digg_count">{{ article_obj.up_count }}</span>
                            <img src="/static/img/{N]ZLX1@@M4X5K~%([YDP7C.png">
                        </div>
                        <div class="buryit acction" style="float: right">
                            <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
                            <img src="/static/img/3FJC5Y1_)F_6N(DCEH%60K4WR.png">
                        </div>
                        <div class="clear"></div>
                        <div class="diggword" id="digg_tips"></div>
                    </div>
                </div>
            </div>
            <div class="postDesc">
                posted @ {{ article_obj.create_time|date:"Y-m-d H:i" }} {{ article_obj.user__username }}
                评论({{ article_obj.comment_count }})
                <a rel="nofollow" class="editor">编辑</a>
            </div>
        </div>
    </div>
    <div class="comment_list" id="comment_list">
        <p>评论列表</p>
        <div class="comment_list_content">
            {% for comment in comment_list %}
                <div class="feedbackItem">
                    <div class="feedbackListSubtitle">
                        <div class="feedbackMange">
                            <a class="comment_actions" username="{{ comment.user }}" comment_pk="{{ comment.pk }}">回复</a>
                        </div>
                        <span class="layer">#{{ forloop.counter }}楼</span> &nbsp;
                        <span class="comment_data">{{ comment.create_time|date:"Y-m-d H:i"}}</span>
                        <span class="layer">{{ comment.user }}</span>
                    </div>
                     {% if comment.parent_comment_id %}
                        <div class="blog_comment_bod well" >
                            <p>{{ comment.parent_comment.user.username }}: {{ comment.parent_comment.content }}</p>
                        </div>
                    {% endif %}
                    <div class="feedbackCon">
                        <div class="blog_comment_body">{{ comment.content }}</div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="clear"></div>
    <div class="comment_from">
        <div class="blog_comment_from">

            <div id="commentNav">
             
                <a href="">刷新页面</a>
                <a>返回顶部</a>
            </div>
            <div id="comment_content">
                <p>昵称 &nbsp; :
                    <input type="text" id="tbCommentAuthor" class="author" disabled="disabled" value="{{ request.user.username }}">
                </p>
                <div class="commentbox_main">
                    <div class="commentbox_title">
                        <div class="commentbox_title_left">评论内容:</div>
                    </div>
                    <div class="clear"></div>
                    <textarea id="tbCommentBody" class="comment_textarea"></textarea>

                </div>
                <p id="commment_opt">
                    <input id="btn_comment_submit" type="button" class="comment_btn" value="提交评论">
                    <a id="btn_comment_exit">退出</a>
                </p>
            </div>
        </div>

    </div>

{% endblock %}

{% block up_down %}
    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/main/js/main.js"></script>
{% endblock %}

